@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  background-color: #f8fafc;
}

/* تخصيص شريط التمرير */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #009FE3; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1e3a8a; 
}

/* إخفاء العناصر عند الطباعة/التصدير */
.no-print {
    display: block;
}
